a.alink {
    color: inherit;
    text-decoration: none;
}

a.alink:hover {
    text-decoration: underline;
}

.project-content-area .project-wrapper.width-40 {
    width: 40%;
}

/* Mobile */
@media (max-width: 768px) {
    .project-content-area .project-wrapper.width-40 {
        width: 100%;
    }
}